#canvas {
  width: 90%;
  padding: 2%;
  background-image: url('https://eckels.github.io/evaneisenmenger/img/pattern3.jpg');
  background-size: 100px;
  margin-left: 3%;
  margin-right: 3%;
}

#canvas:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.tags {
  margin: 0;
}

.tags:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  margin-bottom: 10px;
}

.tags a {
  float: left;
  font-size: 90%;
  background-color: white;
  border-radius: 2px;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 7px;
  box-shadow: 0 2px 5px grey;
  letter-spacing: 1px;
  cursor: pointer;
}

.tags-desc {
  font-style: italic;
  color: rgba(0, 0, 0, .5);
  margin-top: 0;
}

.gallery {
  width: 100%;
  text-align: center;
}

.gallery img {
  margin: 1% 1% 0% 0;
  display: inline-block;
  width: 380px;
  height: 280px;
  background-color: white;
  object-fit: cover;
  cursor: pointer;
  -webkit-animation-name: modalFade;
  -webkit-animation-duration: 0.7s;
  animation-name: modalFade;
  animation-duration: 0.7s;
  transition: filter .3s;
}

.gallery img:hover {
  filter: opacity(80%);
}

/* Modal Styling */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh; /* PADDING TOP NEEDS TO BE REVISED FOR BOX POSITION */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-div {
  background-color:
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-height: 80vh;
  max-width: 90%;
}

#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: white;
  padding: 0;
  padding-top: 15px;
  height: 100px; /* PADDING TOP NEEDS TO BE REVISED FOR BOX POSITION */
}

.modal-content, #modalCaption {
  -webkit-animation-name: modalFade;
  -webkit-animation-duration: 0.5s;
  animation-name: modalFade;
  animation-duration: 0.5s;
}

@-webkit-keyframes modalFade {
  from {opacity: 0;}
  to {opacity: 1;}
}

 @keyframes modalFade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.close {
  position: absolute;
  top: 5px; /* PADDING TOP NEEDS TO BE REVISED FOR BOX POSITION */
  right: 50px; /* PADDING TOP NEEDS TO BE REVISED FOR BOX POSITION */
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
}

.close:hover, .close:focus {
  color: gray;
  cursor: pointer;
}

/* Responsive Design */

@media (max-width: 820px) {
  .tags a {
    padding: 5px;
  }

  .tags-desc {
    font-size: 95%;
  }
}

@media (max-width: 690px) {
  .tags a {
    padding: 4px;
  }

  .tags-desc {
    font-size: 85%;
  }
}

@media (max-width: 590px) { .modal {padding-top: 20vh;} .close {right: 20px;}}

@media (max-width: 1305px) {.gallery img {height: 252px;width: 342px;}}
@media (max-width: 1175px) {.gallery img {height: 224px;width: 304px;}}
@media (max-width: 1044px) {.gallery img {height: 210px;width: 285px;}}
@media (max-width: 979px) {.gallery img {height: 196px;width: 266px;}}
@media (max-width: 914px) {.gallery img {height: 182px;width: 247px;}}
@media (max-width: 848px) {.gallery img {height: 168px;width: 228px;}}
/* Change to 2 wide */
@media (max-width: 783px) {.gallery img {height: 252px;width: 342px;}}
@media (max-width: 775px) {.gallery img {height: 238px;width: 323px;}}
@media (max-width: 732px) {.gallery img {height: 224px;width: 304px;}}
@media (max-width: 689px) {.gallery img {height: 210px;width: 285px;}}
@media (max-width: 646px) {.gallery img {height: 196px;width: 266px;}}
@media (max-width: 603px) {.gallery img {height: 182px;width: 247px;}}
@media (max-width: 560px) {.gallery img {height: 168px;width: 228px;}}
@media (max-width: 516px) {.gallery img {height: 154px;width: 209px;}}
@media (max-width: 473px) {.gallery img {height: 140px;width: 190px;}}
/* Change to 1 wide */
@media (max-width: 430px) {.gallery img {height: 252px;width: 342px;}}
@media (max-width: 379px) {.gallery img {height: 238px;width: 323px;}}
@media (max-width: 360px) {.gallery img {height: 224px;width: 304px;}}
@media (max-width: 341px) {.gallery img {height: 210px;width: 285px;}}
@media (max-width: 317px) {.gallery img {height: 196px;width: 266px;}}
@media (max-width: 296px) {.gallery img {height: 182px;width: 247px;}}
@media (max-width: 276px) {.gallery img {height: 168px;width: 228px;}}
