body {
  margin: auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 1366px;
}

header {
  height: 100px;
  margin: 0;
}

header .title {
  height: 80px;
  margin-top: 10px;
  margin-left: 3%;
  float: left;
}

header nav {
  margin: 0;
  float: left;
  margin-top: 35px;
}

header nav ul {
  margin: 0;
}

header nav li {
  margin: 0;
  display: inline;
  margin-right: 20px;
}

header nav a {
  margin: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 85%;
  font-weight: bold;
  transition: .3s;
}

header nav a:hover {
  color: black;
}

header .icons {
  margin-top: 35px;
  float: right;
  margin-right: 3%;
}

header .icons img {
  height: 20px;
  width: 20px;
  margin-left: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: right;
}

footer .icons {
  display: none;
}

footer a {
  text-decoration: none;
  font-size: 85%;
  color: gray;
  margin-right: 3%;
  font-style: italic;
}

footer a:hover {
  text-decoration: underline;
}

 /* Responsive Design */

@media (max-width: 950px) {

  header nav li {
    margin-right: 12px;
  }

}

@media (max-width: 900px) {

  header {
    height: 80px;
  }

  header .title {
    height: 64px;
    margin-top: 8px;
  }

  header nav {
    margin-top: 28px;
  }

  header .icons {
    margin-top: 28px;
  }

}

@media (max-width: 830px) {

  header {
    height: 120px;
  }

  header .title {
    float: none;
  }

  header nav {
    float: none;
    margin-top: 2px;
  }

  header nav ul {
    padding: 0;
    width: auto;
    margin-left: 3%;
  }

}

@media (max-width: 560px) {

  header .title-div {
    margin-left: 50%;
  }

  header .title {
  margin-left: -147px; /* 295px Width */
  }

  header nav ul {
    text-align: center;
  }

  header nav a {
    color: rgba(0, 0, 0, .6);
    font-size: 100%;
    line-height: 170%;
  }

  header .icons {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer .icons {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: center;
  }

  footer .icons img {
    height: 20px;
    width: 20px;
    margin-left: 12px;
  }

  footer a[href="http://evaneckels.me/"] {
    margin-right: 0;
  }

}

@media (max-width: 370px) {

  header {
    height: 138px;
  }

}

@media (max-width: 300px) {

  header {
    height: 130px;
  }

  header .title {
    height: 56px;
    margin-left: -129px; /* 258px Width */
    margin-top: 5px;
  }

}
